.body {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* HEADER-NAVBAR */

.header__navbar {
    background-color: var(--body__sidebar-color);
    height: var(--header__navbar-height);
}

.header__catebar {
    background-color: var(--black-color);
    height: var(--header__catebar-height);
    width: var(--navbar-width);
    color: var(--text-color);
    position: sticky;
    margin: 0;
}

.navbar__container {
    margin: 0;
}

/* BODY-MAIN-CONTENT */
.body__main-container{
    width: var(--body__main-content-width);
}

.body__main-content {
    width: 900px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.body__main-content__heading {
    font-size: 3rem;
}

#body__main-content__scroll-btn--right, 
#body__main-content__scroll-btn--left  {
    position: absolute;
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 10px;
    cursor: pointer;
}

#body__main-content__scroll-btn--right{
    right: 20px;
    background: linear-gradient(to right, transparent, #2e2e41 80%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#body__main-content__scroll-btn--left{
    left: 20px;
    background: linear-gradient(to left, transparent, #2e2e41 80%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.body__main-content__display {
    width: 100%;
}

.body__main-content__selection-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin: 0 auto;

    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    position: relative;
}

.type-selection{
    max-width: 770px;
    background-color: rgba(2,2,2,0.6);
    padding : 5px 10px;
    border-bottom: 1px solid #434354;
    border-radius: 50px;
    display: flex;
    white-space: nowrap;
    overflow: scroll;
    scroll-behavior: smooth;
    box-shadow: 0px 5px 15px rgba(2,2,2,0.3);
}

.type-selection::-webkit-scrollbar{
    display: none;
}

.type-selection__item{
    color: var(--white-color);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;    
    border-radius: 30px;
    margin: 0 2px;
    padding: 2px 8px;
    display: inline-block;
    text-wrap: nowrap;
}

.type-selection__item:not(.type-selection__item--activate):hover{
    color: var(--black-color);
    background-color: var(--white-color);
}


.body__main-content__display {
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body__main-content__main-section {
    padding-right: 20px;
    padding-left: 20px;
}

.body__main-content__display__frame {
    height: 300px;
    width: 80%;
    display: flex;
    padding: 0;
    justify-content: space-around;
    background-color: #555;
    box-shadow: 0 3px 10px 0 #555;
    border-radius: 3px;
    margin: 20px 0;
    list-style-type: none;
}

.body__main-content__display__values{
    visibility: hidden;
    font-weight: 600;
    font-size: 2rem;
    padding-top: 0;
    margin-top: 0;
    color: var(--black-color);
}

.body__main-content__display__frame li {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
}

.body__main-content__display__col {
    width: 50%;
    min-height: 10px;
    background-color: var(--theme-color);
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 10px 0 rgba(4, 170, 109, 0.8);
    transition-property: background, box-shadow;
}

.body__main-content__display__col:hover {
    background: #55efc4;
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
    cursor: pointer;
}

.body__main-content__display__frame li span {
    text-align: center;
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: -30px;
    color: var(--black-color);
    font-weight: 500;
}

/* BODY-SIDEBAR */
.body__sidebar {
    width: var(--body__sidebar-width);
    height: 100%;
    background-color: #d9eee1;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 30px 20px;
    font-size: 1.5rem;
}

.body__sidebar__param-display {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#body__sidebar__param-display__form{
    display: inline-block;
}

#body__sidebar__col-num{
    text-align: center;
    width: 70px;
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    border-color: var(--shadow-color);
    outline-color: var(--shadow-color);
}

#body__sidebar__moves-num {
    font-weight: 600;
}

.slider {
    appearance: none;
    width: 100%;
    height: 15px;
    background: var(--shadow-color);
    outline: none;
    opacity: 0.6;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border: 1px solid var(--text-color);
    margin-top: 5px;
    margin-bottom: 20px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #666;
    cursor: pointer;
    border-radius: 20%;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04aa6d;
    cursor: pointer;
}

.body__sidebar__btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}





