server {
    listen          80;
    listen          [::]:80;
    server_name     dsa-visualizer.com;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://dsa-visualizer.com$request_uri;
    }
}
