server {
    listen                  443 default_server ssl http2;
    listen                  [::]:443 ssl http2;
    server_name             dsa-visualizer.com;
    root                    ${ROOT}/dist;

    ssl_certificate         /etc/nginx/ssl/live/dsa-visualizer.com/fullchain.pem;
    ssl_certificate_key     /etc/nginx/ssl/live/dsa-visualizer.com/privkey.pem;
    
    location / {
    }
}
